$TTL 86400
@   IN  SOA     ns1.kkh.net. root.kkh.net. (
                                       3           ;Serial
                                       3600        ;Refresh
                                       1800        ;Retry
                                       604800      ;Expire
                                       86400       ;Minimum TTL
)

;Name Server Information
@         IN      NS         ns1.kkh.net.

;Reverse lookup for Name Server
254       IN  PTR     ns1.kkh.net.

;PTR Record IP address to HostName
3      IN  PTR     ansible.kkh.net.
4      IN  PTR     node1.kkh.net.
5      IN  PTR     node2.kkh.net.
6      IN  PTR     kibana.kkh.net.
