$TTL 86400
@   IN  SOA     ns1.{{forward_zone}}. root.{{ forward_zone}}. (
                                              3           ;Serial
                                              3600        ;Refresh
                                              1800        ;Retry
                                              604800      ;Expire
                                              86400       ;Minimum TTL
)

;Name Server Information
@       IN  NS      ns1.{{ forward_zone}}.

;IP address of Name Server
ns1       IN  A       {{ reverse_zone}}.{{ dns_ip}}

;A - Record HostName To Ip Address
ansible     IN  A       {{ reverse_zone}}.3
node1       IN  A       {{ reverse_zone}}.4
node2       IN  A       {{ reverse_zone}}.5
kibana      IN  A       {{ reverse_zone}}.4
minio       IN  A       {{ reverse_zone}}.7
kafka1       IN  A       {{ reverse_zone}}.8
kafka2       IN  A       {{ reverse_zone}}.9
kafka3       IN  A       {{ reverse_zone}}.10
rsyslog1       IN  A       {{ reverse_zone}}.13
kubernetes1       IN  A       {{ reverse_zone}}.14
kubernetes2       IN  A       {{ reverse_zone}}.15
kubernetes3       IN  A       {{ reverse_zone}}.16

;CNAME record
;ftp     IN CNAME        www.hosting.local.
