$TTL 86400
@   IN  SOA     ns1.{{ forward_zone}}. root.{{ forward_zone}}. (
                                       3           ;Serial
                                       3600        ;Refresh
                                       1800        ;Retry
                                       604800      ;Expire
                                       86400       ;Minimum TTL
)

;Name Server Information
@         IN      NS         ns1.{{ forward_zone}}.

;Reverse lookup for Name Server
{{ dns_ip}}       IN  PTR     ns1.{{ forward_zone}}.

;PTR Record IP address to HostName
3      IN  PTR     ansible.{{ forward_zone}}.
4      IN  PTR     node1.{{ forward_zone}}.
5      IN  PTR     node2.{{ forward_zone}}.
6      IN  PTR     kibana.{{ forward_zone}}.
7      IN  PTR     minio.{{ forward_zone}}.
8      IN  PTR     kafka1.{{ forward_zone}}.
9      IN  PTR     kafka2.{{ forward_zone}}.
10     IN  PTR     kafka3.{{ forward_zone}}.
