# Module: elasticsearch
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/7.15/metricbeat-module-elasticsearch.html

- module: elasticsearch
  xpack.enabled: true
  period: 10s

{% if es_tls == true %}
  hosts: ["https://{{ ansible_hostname }}:9200"]
{% else %}
  hosts: ["http://{{ ansible_hostname }}:9200"]
{% endif  %}
  #username: "user"
  #password: "secret"


{% if es_tls == true %}
  ssl.certificate_authorities: ["/etc/metricbeat/certs/{{ es_clustername }}.crt"]
{% endif  %}
