[Unit]
Description=minio
Documentation=https://min.io
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ mi_user}}
Group={{ mi_group }}

Environment=MI_HOME={{ mi_home }}
Environment=MI_CONF={{ mi_conf }}


ExecStart={{ mi_home}}/minio

Restart=on-failure
RestartSec=3

StartLimitBurst=3
StartLimitInterval=60

WorkingDirectory={{ mi_home}}

StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
