kubectl create -f https://download.elastic.co/downloads/eck/1.9.1/crds.yaml
kubectl apply -f https://download.elastic.co/downloads/eck/1.9.1/operator.yaml

sleep 60

kubectl apply -f https://k8s.io/examples/admin/dns/dnsutils.yaml

cd {{ k8_bootstrap_dir}}

kubectl apply -f pv.yaml
kubectl apply -f sc.yaml
kubectl apply -f pvc.yaml

sleep 60

kubectl apply -f  quickstart.yaml
kubectl apply -f  kibana.yaml
